.section2{
    position: relative;
    background-image: url('/image/contact.png');
    background-size: cover;
    width: 100%;
    min-height:100%;
    color:white;
    padding-bottom: 20%;
}
.section2 .col-md-6{
    margin-top: 15%;
}
.nav-link{
    color: rgba(4, 4, 107, 0.729);
}
.section2 p{
    margin: 0;
}
.section3 .container{
    padding-top:50px;

}
.section3 .row{
    padding-top: 20px;
}
.section3{
    color: rgba(4, 4, 107, 0.729);
}
.section3 .box-p{
    margin: 20px auto;
}
.section3 p{
    margin: 0;
}
.section3 textarea{
    min-height: 80px !important;
}
.section3 .send{
    width: 100%;
    background-color: rgb(5, 5, 73);
    color: white;
}
.section3 .form-control{
    margin-bottom: 15px;
}
.section4{
    background-image: url("/image/contact2.png");
    width: 100%;
    position: relative;
    margin-top: 40px;
    min-height: 100%;
    color: white;
    background-size:cover;
    padding-bottom: 6%;
}
.section4 .row{
    padding-top: 4%;
}
.section4 .btn{
    background-color: white !important;
    margin-top: 20px;
}