@font-face {
  font-family:Sarabun-Medium;
  src: url(/font/sarabun-2-cufonfonts-webfont/Sarabun-Medium.woff);
}
html, body {
    margin: 0;
    padding: 0;
  }
footer{
  margin-top: 30px;
}
* {
   font-family:Sarabun-Medium !important;
    box-sizing: border-box;
  }
img{
  width: 100%;
}
a{
  text-decoration: none;

}
button{
  text-decoration: none !important;
}
li{
  list-style-type: none;
}
  .slider {
      width: 50%;
      margin: 100px auto;
  }

  .slick-slide {
    margin: 0px 20px;
  }

  .slick-slide img {
    width: 100%;
  }

  .slick-prev:before,
  .slick-next:before {
    color: black;
  }


  .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
  }
  
  .slick-active {
    opacity: .5;
  }

  .slick-current {
    opacity: 1;
  }
.footer .nav-link{
    color: rgba(4, 4, 107, 0.729) !important; 
}
.footer .nav-link:hover {
  color:burlywood !important;
}
.footer-content{
    right: 0;
    text-align: center;
    padding-top: 16px;
}
.footer img{
 margin-right: 2rem;
}
nav{
  margin: 0 auto;
}
.nav-link:hover{
  color:burlywood !important;
   line-height: 2rem !important;
}
button:hover{
 color:rgb(165, 94, 178) !important;
 line-height: 2rem !important;
}
.send:hover{
  background-color: rgb(165, 94, 178) !important;
  border: 1px solid rgb(165, 94, 178);
}
.nav-item {
  padding-right: 2rem;
}